:root{
    --dark-blue: #0A3055;
    --medium-dark-blue:#0F4880;
    --medium-blue:#006FBB;
    --blue:#2093D2;
    --light-blue:#AFE0F8;

    --black:#272727;
    --medium-dark-gray: #595959;
    --medium-gray: #8F8F8F;
    --gray: #C7C7C7;
    --light-gray:#F5F7F7;

    --white:#FFFFFF;

    --button-yellow:#F1C150;
    --background-blue:#2376FF;
    --main-font:""

}

html, body {
    height: 100%;
    margin: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

.parent-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("/assets/dollar-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.upper-container {
    flex-grow: 2;
    background-color: var(--background-blue);
    mix-blend-mode: hard-light;
    /*border: 1px solid red;*/
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

.lower-container {
    flex-grow: 1;
    background-color: var(--white);
    padding: 1rem;
    mix-blend-mode: multiply;
}

header{
    margin: 2rem 0;
}

header div {
    padding-top: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    background: var(--white);
    border-radius: 4px;
    margin: 2rem 25%;
    /*padding: 1.5rem;*/
    display: flex;
    height: 24rem;
}

.left-section {
    display: flex;
    flex-direction: column;
    background: var(--light-gray);
    max-width: 45%;
    border-radius: 4px;
}


.left-section h2,p{
    margin:  1rem 1rem 0 1rem;
}

.left-section p {
    margin-bottom: 4rem;
    font-size: 0.75rem;
    flex-grow: 0.7;
}

.base-logos {
    display: flex;
    margin: 0 1rem;
    justify-content: space-between;
}

.right-section  div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.lower-container  p{
    margin: 10px 0 0 0;
    text-align: center;
    padding: 0 10rem;
    font-size: 0.75rem;
}

footer img{
    position: fixed;
    top: 85%;
    left: 96%;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4) ;
}

select{
    outline: none;
    padding: 0.80rem;
    border: 1px solid var(--medium-blue);
    border-radius: 5px;
    margin: 0 0 1rem;
}

.right-section label{
    margin-bottom: 1rem;
}

.right-section button{
    outline: none;
    background: var(--button-yellow);
    border: 1px solid #EE9201;
    padding: 1rem;
    border-radius: 4px;
    color: white;
    font-size: 1.55rem;
    cursor: pointer;
}
.default{
    border: 2px  solid red;
}

.right-section button{
    width: 50%;
    padding: 0.75rem;
    font-size: 0.88rem;
}

.right-section .radios{
    flex-direction: row;
    justify-content: space-between;
    row-gap: 1rem;
    padding: 0;
    margin-bottom: 5.5rem;
}

.right-section .radios label{
    border: 1px solid var(--gray);
    padding: 0.77rem;
    width: 48%;
    border-radius: 2px;
    align-content: center;
}
label{
    font-size: 0.75rem;
}

.page-one .radios{
    margin-bottom: 0;
}

.page-one button{
    margin-top: 5.5rem;
}

.page-two .radios{
    margin-bottom: 0;
}

.page-two button{
    margin-top: 5.5rem;
}

.page-three input {
    border: 1px solid var(--gray);
    outline: none;
    padding: 0.80rem;
    border-radius: 5px;
    margin: 0 0 1rem;
}
.page-three input ,textarea{
    margin-top: 1rem;
}

.page-three div{
    padding: 0;
    margin: 0;
}
.page-three button{
    margin-top: 2rem;
}

.page-three textarea {
    padding: 0.80rem;
    max-width: 100%;
    min-height: 5rem;
    min-width: 5rem;
    resize: none;
    outline: none;
    border: 1px solid var(--gray);
}